<% layout("layouts/boilerplate")%>

<div class="row col-8 offset-2">
    <div class="alert alert-danger mt-3" class="alert alert-danger d-flex align-items-center" role="alert">
        <p><%=message%></p>
    </div>
</div>
