<% layout("/layouts/boilerplate")%>

<body>
    <div  class="mt-3 mb-6">
        <h3>Company Details</h3>
        <p><b>Provider of the website:</b></p>
        <p>WonderLust</p>
        <p>Aqib</p>
        <p>India</p>
        <br>
        <p><b>Director:</b> Aqib Khan</p>
        <!-- <p><b>VAT-ID:</b> EI9837384L</p> -->
        <!-- <p><b>Trade Register Number:</b> (Indian Companies Registration Office)IE 115425</p> -->
        <p>Contact us:</p>
        <p><b>Email address :</b> aquibkhan8140@gmail.com</p>
        <p><b>WonderLust support :</b> wonderlust@gmail.com</p>
        <p><b>Phone No.</b>+91 8601677140</p>
        <p>If you have a complaint or concern about WonderLust platform or violations of WonderLust Terms of Service, you may contact the India grievance officer:</p>

    </div>
</body>