<% layout("/layouts/boilerplate")%>
<body>
    <div class="mt-3 mb-6">
        <h2>Wonderlust Privacy Policy</h2>
        <p>At Wonderlust, we are committed to protecting the privacy and security of your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our website or mobile application ("Service"). Please read this Privacy Policy carefully. By accessing or using our Service, you agree to be bound by the terms and conditions described in this Privacy Policy.</p>
        <hr>
        <h5>Information We Collect</h5>
        <p><i>We collect certain information from and about users of our Service, including:</i></p>
        <ul>
            <li><b>Personal Information:</b> When you use our Service, we may collect personal information that you voluntarily provide to us, such as your name, email address, postal address, phone number, and other contact information.</li>
            <li><b>Usage Information:</b> We may collect information about your use of the Service, such as your IP address, device identifier, browser type, operating system, referral URLs, pages viewed, links clicked, and other information about how you interact with the Service.</li>
        </ul>
        <h5>How We Use Your Information</h5>
        <p><i>We may use the information we collect for various purposes, including to:</i></p>
        <ul>
            <li>Provide, maintain, and improve our Service;</li>
            <li>Respond to your inquiries, comments, and requests;</li>
            <li>Communicate with you about products, services, offers, promotions, and events offered by Wonderlust and others;</li>
            <li>Monitor and analyze trends, usage, and activities in connection with our Service;</li>
            <li>Detect, investigate, and prevent fraudulent transactions and other illegal activities;</li>
            <li>Comply with legal and regulatory obligations; and</li>
            <li>For any other purpose disclosed to you at the time we collect your information or with your consent.</li>
        </ul>
        <h5>Disclosure of Your Information</h5>
        <p><i>We may share your information with third parties as follows:</i></p>
        <ul>
            <li>With service providers who need access to such information to carry out work on our behalf;</li>
            <li>In response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation, or legal process;</li>
            <li>If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property, and safety of Wonderlust or others;</li>
            <li>In connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business by another company; and</li>
            <li>With your consent or at your direction.</li>
        </ul>
        <h5>Data Security</h5>
        <p><i>We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use your personal information for improper purposes. You acknowledge that you provide your personal information at your own risk.</i></p>

        <h5>Changes to Our Privacy Policy</h5>
        <p><i>We reserve the right to update or change our Privacy Policy at any time. If we make material changes to this Privacy Policy, we will notify you by posting the revised policy on this page with an updated date.</i></p>

        <h5>Contact Us</h5>
        <p><i>If you have any questions or concerns about this Privacy Policy, please contact us at <b>[aquibkhan8140@gmail.com]</b>.</i></p>


    </div>
    

</body>